{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="product-page">
        {% include 'navbar.html' %}
        <div class="page-header header-filter" data-parallax="true"
             style="background-image: url(../media/{{ page.main_image.file }});">
            <div class="container">
                <div class="row title-row"></div>
            </div>
        </div>

        <div class="section section-gray">
            <div class="container">
                <div class="main main-raised main-product">
                    {% block event_info %}{% endblock %}
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
{% endblock %}


{% block extra_js %}

    <script type="text/javascript" src="{% static 'events/js/flexisel.js' %}"></script>
{% endblock %}
