{% extends "base.html" %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="page-header header-filter header-small" data-parallax="true"
         style="background-image: url({% get_media_prefix %}{{ page.image.file }});">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">{{ page.intro }}</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="section">
                <h3 class="title text-center">{{ page.title }}</h3>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <div class="tab-content tab-space">
                            <div class="tab-pane active" id="pill1">

                            </div>
                            <div class="tab-pane" id="pill2">

                            </div>
                            <div class="tab-pane" id="pill3">

                            </div>
                            <div class="tab-pane" id="pill4">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    {% block event_list %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}
