{% extends "events/events_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block body_class %}template-raceindexpage{% endblock %}

{% block event_list %}

    {% for race in race_pages %}
        {% with race.specific as race %}
            <div class="col-md-12">
                <div class="card card-raised card-background"
                     style="background-image: url(../media/{{ race.main_image.file }})">
                    <div class="card-content">
                        <h6 class="category text-info">{{ race.distance }} Km</h6>
                        <h3 class="card-title">{{ race.title }}</h3>
                        <p class="card-description">
                            {{ race.route_description }}
                        </p>
                        <a href="{% pageurl race %}" class="btn btn-warning btn-round">
                            <i class="material-icons">subject</i>Ver M&atilde;s
                        </a>
                        <a href="#pablo" class="btn btn-white btn-just-icon btn-simple"
                           title="Compartir"
                           rel="tooltip">
                            <i class="fa fa-share"></i>
                        </a>

                    </div>
                </div>
            </div>
        {% endwith %}
    {% endfor %}
{% endblock %}