{% load wagtailcore_tags %}
<nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbar-color-on-scroll" color-on-scroll="100">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% slugurl 'carreras' %}">Tu Carrera</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">view_day</i> Eventos
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-with-icons">
                        <li>
                            <a href="{% slugurl 'carreras' %}">
                                <i class="material-icons">directions_run</i> Carreras
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-header pull-right">
                <a href="#" class="navbar-brand" data-toggle="modal" data-target="#myModal">
                    <i class="material-icons">search</i>
                    Search
                </a>
            </div>
        </div>
    </div>
</nav>

